.custom-navbar.dark {
    background-color: rgba(0, 0, 0, 0.85);
    color: #f1f1f1;
  }
  .custom-navbar.dark .title {
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}  
  .custom-navbar.dark .subtitle {
    color: #ccc;
  }
  
  .custom-navbar.dark .nav-link::after {
    background-color: #66b2ff;
  }
 