#skills {
    background-color: #1e1e1e;
    color: #f1f1f1;
  }
  
  .skill-card {
    background-color: #2b2b2b !important;
    color: #eaeaea;
  }
  
  .skill-badge {
    background-color: #444;
    color: #fff;
  }
  